<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
</head>
<body>
<label>
    <span>聊天室的名字：</span>
    <input id="room-name-input" type="text" size="50"/>
</label>
<br/>
<input id="room-name-submit" type="button" value="Enter"/>

<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function (e) {
        if (e.keyCode === 13) {
            document.querySelector('#room-name-submit').click();
        }
    };
    document.querySelector('#room-name-submit').onclick = function (e) {
        var roomName = document.querySelector('#room-name-input').value;
        // 跳转到 root/chat/{room_name}/
        window.location.pathname = '/chat/' + roomName + '/';
    };

</script>
</body>
</html>
