{% extends 'base.html' %}
{% load base_tags %}

{% block base_content %}
    <div class="row-fluid" id="mine-div">
        {% if model_data %}
            {% generate_table model_object model_data model_field_list %}

            {% comment %}
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    {% for col in model_field_list %}
                        {% generate_table_header model_object col forloop.counter0 %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for obj in model_data %}
                    <tr>
                        {% get_col_index forloop.counter0 as col_index %}
                        {% for col in model_field_list %}
                            {% generate_table_body obj col col_index forloop.counter0 %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endcomment %}
        {% else %}
            <h3>No Data</h3>
        {% endif %}
    </div>
{% endblock %}

{% block base_script %}
    <script>
        $(document).ready(function () {
        })
    </script>
{% endblock %}
