{% extends 'base.html' %}
{% load base_tags %}

{% block base_content %}
    <div class="row-fluid">


        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>
                    1
                </th>
                <th>
                    1
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    2
                </td>
            </tr>

            </tbody>
        </table>

    </div>
{% endblock %}

{% block base_script %}
    <script>
        var dataUrl = `http://localhost:8000/school/real/test/?p=2`;

        $(document).ready(function () {
            $.ajax({
                url: dataUrl,
                method: 'get',
                success: function (result) {
                    var tableData = JSON.parse(result);
                    console.log(tableData);
                }
            })
        });

    </script>
{% endblock %}
