{% extends 'base.html' %}
{% load base_tags %}

{% block base_content %}

    <div class="row-fluid">
        {% get_model_verbose_name model_object as MODEL_VERBOSE_NAME %}

        <div>
            <div class="row">
                <div class="col-md-6">
                    <h4>Create or View all <b>{{ MODEL_VERBOSE_NAME | upper }}</b></h4>
                </div>
                <div class="col-md-6 ">
                    <div class="input-group pull-right" style="width: 50%">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn"><button class="btn btn-default" type="button"> 搜索 </button></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-info" id="btnAlert">创建</button>
                    <button class="btn">取消</button>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="pull-left">筛选 分组 分页 自定义条件 </p>
                        </div>
                        <div class="col-md-6">
                            <nav aria-label="Page navigation">
                                <ul class="pagination pull-right">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">上一页</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">···</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">下一页</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if model_data %}
            {% check_front_index model_data as TAG_FRONT_INDEX %}
            <table class="table table-hover table-bordered">
                <!-- 判断 list 是否为空 -->
                <thead>
                <tr>
                    {% if TAG_FRONT_INDEX %}
                        <th>{% get_index_label model_data %}</th>
                    {% endif %}

                    {% generate_table_headers model_object model_fields %}
                </tr>
                </thead>
                <tbody>
                {% for model_one in model_data %}
                    {% if model_colorful_field %}
                        {% compute_colorful_table_body model_one model_colorful_field %}
                    {% else %}
                        <tr>
                    {% endif %}

                {% if TAG_FRONT_INDEX %}
                    <td>{% get_index_display model_one %}</td>
                {% endif %}

                {% for field in model_fields %}
                    <td>{% get_display_str model_one field %}</td>
                {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <h4 id="DataCount" style="text-align: right"></h4>
        {% else %}
            <h3>Not <b>{{ MODEL_VERBOSE_NAME | upper }}</b> Data</h3>
        {% endif %}
    </div>

{% endblock %}

{% block base_script %}
    <script>
        let examinationListURL = `http://` + `{{ request.get_host }}` + `/school/examination/`;
        $(document).ready(function () {
            // $.ajax({
            //     method: 'GET',
            //     url: examinationListURL,
            //     success: function (ret) {
            //         console.log(ret.results);
            //     }
            // })
            var modelCount = `{{ model_data | length }}`;
            var TAG_P = $('#DataCount')[0];
            TAG_P.innerHTML = `一共 <b>` + modelCount + '</b> 条数据';

            var $btn = $('#btnAlert');
            $btn.on('click', function () {
                toastr.options = {
                    closeButton: false,
                    debug: false,
                    progressBar: false,
                    positionClass: "toast-top-right",
                    onclick: null,
                    showDuration: "300",
                    hideDuration: "1000",
                    timeOut: "1500",
                    extendedTimeOut: "1000",
                    showEasing: "swing",
                    hideEasing: "linear",
                    showMethod: "fadeIn",
                    hideMethod: "fadeOut"
                };
                toastr["info"]("you click the button");
            });
        });
    </script>
{% endblock %}
