{% extends 'base.html' %}
{% load base_tags %}

{% block base_content %}


    <div class="row">
        {% get_model_verbose_name model_object as MODEL_VERBOSE_NAME %}
        <h2>Create or View all <b>{{ MODEL_VERBOSE_NAME }}</b></h2>

        {% if model_data %}
            {% check_front_index model_data as TAG_FRONT_INDEX %}
            <table class="table table-hover table-bordered">
                <!-- 判断 list 是否为空 -->
                <thead>
                <tr>
                    {% if TAG_FRONT_INDEX %}
                        <th>{% get_index_label model_data %}</th>
                    {% endif %}

                    {% generate_table_headers model_object model_fields %}
                </tr>
                </thead>
                <tbody>
                {% for model_one in model_data %}
                    {% if model_colorful_field %}
                        {% compute_colorful_table_body model_one model_colorful_field %}
                    {% else %}
                        <tr>
                    {% endif %}

                {% if TAG_FRONT_INDEX %}
                    <td>{% get_index_display model_one %}</td>
                {% endif %}

                {% for field in model_fields %}
                    <td>{% get_display_str model_one field %}</td>
                {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <h4 id="DataCount" style="text-align: right"></h4>
        {% else %}
            <h3>Not <b>{{ MODEL_VERBOSE_NAME }}</b> Data</h3>
        {% endif %}
    </div>

{% endblock %}

{% block base_script %}
    <script>
        let examinationListURL = `http://` + `{{ request.get_host }}` + `/school/examination/`;
        $(document).ready(function () {
            // $.ajax({
            //     method: 'GET',
            //     url: examinationListURL,
            //     success: function (ret) {
            //         console.log(ret.results);
            //     }
            // })
            var modelCount = `{{ model_data | length }}`;
            var TAG_P = $('#DataCount')[0];
            TAG_P.innerHTML = `一共 <b>` + modelCount + '</b> 条数据';
        });
    </script>
{% endblock %}
