<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <script src="jquery.min.js"></script>
</head>
<body>

<div id="showDiv">

</div>


<script>
    var $div = $('#showDiv');
    var URL = `http://localhost:8000/school/real/test/`;

    $(document).ready(function () {
        $.ajax({
            url: URL,
            method: 'get',
            success: function (result) {
                var data = JSON.parse(result);
                console.log(data);
                var tags = data[0].test_tags.data;
                for (let i = 0; i < tags.length; i++) {

                    $div.append('<p style="color: red;">' + tags[i] + '</P>')
                }
            }
        })
    })
</script>

</body>
</html>
